.container {
    .main_content {
        @include screen(mobile) {
            width: 80%;
            order: 1;
            margin-left: 10px;
        }
    }

    .content_img {
        height  : calc(100vh - 80px);
        position: relative;

        @include screen(mobile) {
            order: 0;
            height:200px;
        }

        img {
            position: absolute;
            bottom  : 0;

            @include screen(mobile) {
                width: 90%;
                order: 0;
                top:0;
            }
        }
    }
}